html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  padding: 20px;
}
